.buttonGroup {
  @apply inline-flex;
}
.button {
  @apply py-2 px-4 text-white bg-slate-900 dark:text-gray-900 dark:bg-slate-200 border-b-4 border-slate-700 dark:border-slate-500;
}
.button:hover, .button:active {
  @apply bg-slate-800 border-slate-600 dark:bg-slate-300 dark:border-slate-600;
}
.yeti {
  @apply mb-6 max-w-xl;
}
.yetiName {
  @apply font-bold text-2xl;
}
.yetiLocation {
  @apply text-gray-400;
}