.table {
  @apply table-auto w-full;
}
.tableHead {
  @apply border-b border-gray-700 dark:border-slate-200;
}
.tableHeadCell {
  @apply text-left pb-4;
}
.tableRow {
  @apply border-b border-gray-500 dark:border-slate-400;
}
.tableCell {
  @apply py-4;
}