.form {
  @apply max-w-lg p-4 border border-slate-400;
}
.input {
  @apply p-2 w-full bg-white dark:bg-slate-900;
}
.inputError {
  @apply border border-red-600;
}
.inputErrorMessage {
  @apply text-red-600 mb-4 block;
}
.input + .input {
  @apply mt-4;
}
.radioGroup {
  @apply flex gap-4 py-4;
}
.radioGroup label {
  @apply cursor-pointer;
}
.radio {
  @apply mr-2 cursor-pointer;
}
.button {
  @apply py-2 px-4 text-white bg-slate-900 dark:text-gray-900 dark:bg-slate-200 border-b-4 border-slate-700 dark:border-slate-500;
}
.button:hover, .button:active {
  @apply bg-slate-800 border-slate-600 dark:bg-slate-300 dark:border-slate-600;
}