.headerNav {
  @apply bg-white border-gray-200 px-6 py-2.5 dark:bg-slate-900;
}
.headerDiv {
  @apply flex flex-wrap justify-between items-center;
}
.headerBrand {
  @apply self-center text-xl font-semibold whitespace-nowrap dark:text-white;
}
.headerMenuWrapper {
  @apply justify-between items-center w-auto flex order-1;
}
.headerMenu {
  @apply flex font-medium flex-row space-x-8 mt-0;
}
.menuLink {
  @apply block rounded p-0 text-gray-700 dark:text-gray-400
}
.menuLink:hover {
  @apply text-gray-900 dark:text-white;
}
.menuLinkActive {
  @apply text-gray-900 dark:text-white;
}